<article class='card fx fx-col fx-rgap-xl p-xl'>
  <div class="fx fx-row fx-cgap-xl">
    <label class="fx txt-bold">Name</label>
    <p class="fx txt-light">{{userData.name}}</p>
  </div>
  <div class="fx fx-row fx-cgap-xl">
    <label class="fx txt-bold">Username</label>
    <p class="fx txt-light">{{userData.username}}</p>
  </div>
  <div class="fx fx-row fx-cgap-xl">
    <label class="fx txt-bold">Email</label>
    <p class="fx txt-light">{{userData.email}}</p>
  </div>
  <div class="fx fx-row fx-cgap-xl">
    <label class="fx txt-bold">Phone</label>
    <p class="fx txt-light">{{userData.phone}}</p>
  </div>
  <div class="fx fx-row fx-cgap-xl">
    <label class="fx txt-bold">Website</label>
    <p class="fx txt-light">{{userData.website}}</p>
  </div>
</article>