.txt {
  &-sm {
    font-size: 12px;
  }

  &-md {
    font-size: 14px;
  }

  &-lg {
    font-size: 18px;
  }

  &-xl {
    font-size: 24px;
  }

  &-light {
    font-weight: 300;
  }

  &-normal {
    font-weight: 400;
  }

  &-bold {
    font-weight: 500;
  }

  &-bolder {
    font-weight: 700;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}
