table {
  margin: auto;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #6c757d;
  }

  th {
    background-color: #007bff;
    color: #f8f9fa;
  }

  td {
    background-color: #f8f9fa;
    color: #343a40;
  }

  th,
  td {
    padding: 8px 10px;
    white-space: nowrap;

    &:first-child {
      display: flex;
      position: sticky;
      left: 0;
      z-index: 1;

      animation: sticky-column-shadow linear;
      animation-timeline: scroll(inline);
    }
  }
}

@media screen and (min-width: 641px) {
  table {
    border: 1px solid #6c757d;
  }
}

@keyframes sticky-column-shadow {
  0% {
    box-shadow: none;
  }
  1% {
    box-shadow: 4px 0 4px rgba(100, 100, 100, 0.3);
  }
  100% {
    box-shadow: 4px 0 4px rgba(100, 100, 100, 0.3);
  }
}
